---
title: Rôles d'accessibilité
description: Aperçu des rôles et responsabilités pour assurer l'accessibilité dans les produits et services numériques, basé sur la cartographie des rôles et responsabilités d'accessibilité (ARRM) du W3C WAI.
permalink: '/{{ locale }}/roles/'
toggle: roles
tags:
  - main
---

{% set lang = locale or 'fr' %}

{# Liste des groupes de rôles et des rôles #}
{% for groupKey, groupLabel in roles.groups[lang] %}
  <h2><a href="{{ locale }}/roles/{{ groupKey }}/">{{ groupLabel }}</a></h2>
  <ul class="list-inline">
    {% for rk in groupKey | roleKeysForGroup(roles) %}
      <li class="list-inline-item">
        <a href="{{ locale }}/roles/{{ rk }}/">{{ roles.labels[lang][rk] or rk }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
